{
  "extends": "@colony/eslint-config-colony",
  "env": {
    "node": true,
    "mocha": true
  },
  "globals": {
    "web3": true,
    "assert": true,
    "contract": true
  },
  "parserOptions": {
   "ecmaVersion": 2017
 }
}
