{
  "extends": "@colony/eslint-config-colony",
  "env": {
    "node": true,
    "mocha": true
  },
  "globals": {
    "web3": true,
    "assert": true,
    "contract": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [2, {"devDependencies": ["**/*.js"]}],
    "max-len": [2, { "code": 150, "ignoreComments": true }],
    "prettier/prettier": ["error", {"printWidth": 150}],
    "flowtype/require-valid-file-annotation": "off",
    "import/named": "off",
    "no-console": "off",
    "no-unused-expressions": "off",
    "eslint-comments/no-unlimited-disable": "off",
    "no-await-in-loop": "off",
    "no-trailing-spaces": "error",
    "no-multi-spaces": ["error", {"ignoreEOLComments": true}],
    "eslint-comments/disable-enable-pair": ["error", {"allowWholeFile": true}],
    "space-infix-ops": ["error"]
  },
  "parserOptions": {
    "ecmaVersion": 2017
  }
}
