[submodule "lib/dappsys"]
	path = lib/dappsys
	url = https://github.com/dapphub/dappsys-monolithic.git
[submodule "lib/colonyToken"]
	path = lib/colonyToken
	url = https://github.com/JoinColony/colonyToken.git
  branch = master
[submodule "lib/tabookey-gasless"]
	path = lib/tabookey-gasless
	url = https://github.com/tabookey/tabookey-gasless.git
