[submodule "lib/dappsys"]
	path = lib/dappsys
	url = https://github.com/JoinColony/dappsys-monolithic.git
  branch = maint/no-round-wad
[submodule "lib/colonyToken"]
	path = lib/colonyToken
	url = https://github.com/JoinColony/colonyToken.git
  branch = master
