[submodule "lib/dappsys"]
	path = lib/dappsys
	url = https://github.com/dapphub/dappsys-monolithic.git
[submodule "lib/colonyToken"]
	path = lib/colonyToken
	url = https://github.com/JoinColony/colonyToken.git
  branch = feature/upgrade-token-authority-for-colony-network
