node_modules
parity-genesis.json
contracts/Updated*
contracts/IUpdated*
contracts/Token.sol
contracts/TokenAuthority.sol
keys/*
test-results.xml
0
parityPassword
**/build/*
coverage
coverage.json
lib/*
ganache-accounts.json
.vscode/
yarn-error.log
reputationStates.sqlite
