{
  "require": ["@babel/register", "@babel/polyfill"],
  "include": "packages/reputation-miner/ReputationMiner*.js",
  "reporter": ["lcov", "html"],
  "report-dir": "./coverage-miner",
  "check-coverage": true,
  "lines": 79,
  "branches": 83
}