{
    "plugins": ["prettier-plugin-solidity"],
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "parser": "solidity-parse"
            }
        }
    ],
    "tabWidth": 2,
    "printWidth": 80,
    "trailingComma": "all",
    "singleQuote": false,
    "semi": true,
    "useTabs": false,
    "bracketSpacing": true
}