version: 2

job_common: &job_common
  docker:
    - image: circleci/node:12.16.3-stretch
      auth:
        username: colonyci
        password: $COLONYCI_DOCKERHUB_PASSWORD
  working_directory: ~/colonyNetwork
job_python: &job_python
  docker:
    - image: circleci/python:3.8.0b1-stretch-node
      auth:
        username: colonyci
        password: $COLONYCI_DOCKERHUB_PASSWORD
  working_directory: ~/colonyNetwork
step_save_cache: &step_save_cache
  save_cache:
    paths:
      - ~/.cache/yarn
    key: node-modules-{{ checksum "yarn.lock" }}
step_restore_cache: &step_restore_cache
  restore_cache:
    keys:
      - node-modules-{{ checksum "yarn.lock" }}
step_setup_global_packages: &step_setup_global_packages
  run:
    name: "Set up global packages"
    command: |
      yarn --pure-lockfile --ignore-engines --network-concurrency 1
      git submodule update --remote --init
      yarn run provision:token:contracts
step_pull_solc_docker: &step_pull_solc_docker
    run:
      name: "Pull solc docker image"
      command: docker pull ethereum/solc:0.5.8
step_setup_slither: &step_setup_slither
    run:
      name: "Setup slither analyser https://github.com/crytic/slither"
      command: |
        wget https://github.com/ethereum/solidity/releases/download/v0.5.8/solc-static-linux
        chmod +x solc-static-linux
        sudo mv solc-static-linux /usr/local/bin/solc
        sudo pip install slither-analyzer

jobs:
  reputation-test:
    <<: *job_common
    steps:
      - checkout
      - <<: *step_restore_cache
      - setup_remote_docker:
          version: 19.03.13
      - <<: *step_pull_solc_docker
      - <<: *step_setup_global_packages
      - run:
          name: "Install lsof"
          command: |
            sudo apt-get update
            sudo apt-get install lsof
      - run:
          name: "Running reputation system unit tests"
          command: yarn run test:reputation
      - run:
          name: "Running storage consistency smoke tests"
          command: yarn run test:contracts:smoke
  lint-and-unit-test:
    <<: *job_common
    steps:
      - checkout
      - <<: *step_restore_cache
      - setup_remote_docker:
          version: 19.03.13
      - <<: *step_pull_solc_docker
      - <<: *step_setup_global_packages
      - run:
          name: "Download parity"
          command: wget https://releases.parity.io/ethereum/v2.3.8/x86_64-unknown-linux-gnu/parity
      - run:
          name: "Setup parity"
          command: |
            sudo mv parity /usr/bin
            chmod 755 /usr/bin/parity
            echo "password" > parityPassword
            cp ./parity-genesis.template.json ./parity-genesis.json
            sed -i "s/000000000000000000000000000000deadbeef01/$(parity account new --chain ./parity-genesis.json --keys-path ./keys --password ./parityPassword)/g" ./parity-genesis.json
            sed -i "s/000000000000000000000000000000deadbeef02/$(parity account new --chain ./parity-genesis.json --keys-path ./keys --password ./parityPassword)/g" ./parity-genesis.json
            sed -i "s/000000000000000000000000000000deadbeef03/$(parity account new --chain ./parity-genesis.json --keys-path ./keys --password ./parityPassword)/g" ./parity-genesis.json
            sed -i "s/000000000000000000000000000000deadbeef04/$(parity account new --chain ./parity-genesis.json --keys-path ./keys --password ./parityPassword)/g" ./parity-genesis.json
            sed -i "s/000000000000000000000000000000deadbeef05/$(parity account new --chain ./parity-genesis.json --keys-path ./keys --password ./parityPassword)/g" ./parity-genesis.json
            sed -i "s/000000000000000000000000000000deadbeef06/$(parity account new --chain ./parity-genesis.json --keys-path ./keys --password ./parityPassword)/g" ./parity-genesis.json
            sed -i "s/000000000000000000000000000000deadbeef07/$(parity account new --chain ./parity-genesis.json --keys-path ./keys --password ./parityPassword)/g" ./parity-genesis.json
            sed -i "s/000000000000000000000000000000deadbeef08/$(parity account new --chain ./parity-genesis.json --keys-path ./keys --password ./parityPassword)/g" ./parity-genesis.json
            sed -i "s/000000000000000000000000000000deadbeef09/$(parity account new --chain ./parity-genesis.json --keys-path ./keys --password ./parityPassword)/g" ./parity-genesis.json
            sed -i "s/000000000000000000000000000000deadbeef10/$(parity account new --chain ./parity-genesis.json --keys-path ./keys --password ./parityPassword)/g" ./parity-genesis.json
            sed -i "s/000000000000000000000000000000deadbeef11/$(parity account new --chain ./parity-genesis.json --keys-path ./keys --password ./parityPassword)/g" ./parity-genesis.json
            sed -i "s/000000000000000000000000000000deadbeef12/$(parity account new --chain ./parity-genesis.json --keys-path ./keys --password ./parityPassword)/g" ./parity-genesis.json
            sed -i "s/000000000000000000000000000000deadbeef13/$(parity account new --chain ./parity-genesis.json --keys-path ./keys --password ./parityPassword)/g" ./parity-genesis.json
            sed -i "s/000000000000000000000000000000deadbeef14/$(parity account new --chain ./parity-genesis.json --keys-path ./keys --password ./parityPassword)/g" ./parity-genesis.json
            sed -i "s/000000000000000000000000000000deadbeef15/$(parity account new --chain ./parity-genesis.json --keys-path ./keys --password ./parityPassword)/g" ./parity-genesis.json
            sed -i "s/000000000000000000000000000000deadbeef16/$(parity account new --chain ./parity-genesis.json --keys-path ./keys --password ./parityPassword)/g" ./parity-genesis.json
            sed -i "s/000000000000000000000000000000deadbeef17/$(parity account new --chain ./parity-genesis.json --keys-path ./keys --password ./parityPassword)/g" ./parity-genesis.json
            sed -i "s/000000000000000000000000000000deadbeef18/$(parity account new --chain ./parity-genesis.json --keys-path ./keys --password ./parityPassword)/g" ./parity-genesis.json
      - run:
          name: "Install lsof"
          command: |
            sudo apt-get update
            sudo apt-get install lsof
      - run:
          name: "Linting JavaScript"
          command: yarn run eslint
      - run:
          name: "Linting Solidity"
          command: yarn run solhint
      - run:
          name: "Checking contract storage variables"
          command: yarn run check:storagevars
      - run:
          name: "Checking contract recovery modifiers"
          command: yarn run check:recoverymods
      - run:
          name: "Checking contract authDomain modifiers"
          command: yarn run check:auth
      - run:
          name: "Running network contracts unit tests"
          command: yarn run test:contracts
      - run:
          name: "Running upgrade tests"
          command: yarn run test:contracts:upgrade:parity && yarn run test:contracts:upgrade:ganache
      - run:
          name: "Running gas cost tests"
          command: yarn run test:contracts:gasCosts && yarn run codechecks
      - run:
          name: "Running patricia tree tests"
          command: yarn run test:contracts:patricia
      - <<: *step_save_cache
      # Save test results
      - store_test_results:
          path: test-results.xml
      - store_artifacts:
          path: test-results.xml
      - store_artifacts:
          path: coverage-miner
  test-contracts-coverage:
    <<: *job_common
    steps:
      - checkout
      - <<: *step_restore_cache
      - setup_remote_docker:
          version: 19.03.13
      - <<: *step_pull_solc_docker
      - <<: *step_setup_global_packages
      - run:
          name: "Running contract unit tests with coverage"
          command: yarn run test:contracts:coverage
          environment:
            NODE_OPTIONS: --max_old_space_size=4096
      - persist_to_workspace:
          root: ./
          paths:
            - coverage-contracts
  test-reputation-coverage:
    <<: *job_common
    steps:
      - checkout
      - <<: *step_restore_cache
      - setup_remote_docker:
          version: 19.03.13
      - <<: *step_pull_solc_docker
      - <<: *step_setup_global_packages
      - run:
          name: "Running reputation tests with coverage"
          command: yarn run test:reputation:coverage
          environment:
            NODE_OPTIONS: --max_old_space_size=4096
      - persist_to_workspace:
          root: ./
          paths:
            - coverage-reputation
  test-chainid-coverage:
    <<: *job_common
    steps:
      - checkout
      - <<: *step_restore_cache
      - setup_remote_docker:
          version: 19.03.13
      - <<: *step_pull_solc_docker
      - <<: *step_setup_global_packages
      - run:
          name: "Running chainid tests with coverage"
          command: CHAIN_ID=1 yarn run test:contracts:chainid:coverage
          command: CHAIN_ID=5 yarn run test:contracts:chainid:coverage
          command: CHAIN_ID=100 yarn run test:contracts:chainid:coverage
          command: CHAIN_ID=777 yarn run test:contracts:chainid:coverage
          environment:
            NODE_OPTIONS: --max_old_space_size=4096
      - persist_to_workspace:
          root: ./
          paths:
            - coverage-chainid-1
            - coverage-chainid-5
            - coverage-chainid-100
            - coverage-chainid-777
  check-coverage:
    <<: *job_common
    steps:
      - checkout
      - <<: *step_restore_cache
      - run:
          name: "Install packages"
          command: yarn --pure-lockfile --ignore-engines --network-concurrency 1
      - attach_workspace:
          at: ./
      - run:
          name: "Merge coverage runs and check coverage thresholds"
          command: yarn run check:coverage
      # Save coverage artifacts
      - store_artifacts:
          path: coverage-merged
  security-analysis:
    <<: *job_python
    steps:
      - checkout
      - <<: *step_restore_cache
      - setup_remote_docker:
          version: 19.03.13
      - <<: *step_pull_solc_docker
      - <<: *step_setup_global_packages
      - <<: *step_setup_slither
      - run:
          name: "Slither analysis"
          command: yarn run test:security:slither
      - run:
          name: "MythX security analysis"
          command: yarn run test:security:mythril
          no_output_timeout: 60m
  end-to-end-tests:
    <<: *job_common
    steps:
      - checkout
      - <<: *step_restore_cache
      - setup_remote_docker:
          version: 19.03.13
      - <<: *step_pull_solc_docker
      - <<: *step_setup_global_packages
      - run:
          name: "Running end-to-end tests"
          command: yarn run test:contracts:e2e

workflows:
  version: 2
  commit:
    jobs:
      - lint-and-unit-test:
          context: dockerhub-credentials
      - reputation-test:
          context: dockerhub-credentials
      - test-contracts-coverage:
          context: dockerhub-credentials
      - test-reputation-coverage:
          context: dockerhub-credentials
      - check-coverage:
          context: dockerhub-credentials
          requires:
            - test-contracts-coverage
            - test-reputation-coverage
            - test-chainid-coverage
  nightly:
    triggers:
      - schedule:
          cron: "0 1 * * *" # 1am UTC
          filters:
            branches:
              only:
                - develop
    jobs:
      - security-analysis:
          context:
            - colony-network-context
            - dockerhub-credentials
      - end-to-end-tests
